* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main {
    display: grid;
    /* auto 1fr auto / auto 1fr auto; = rows / columns */
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: 'Poppins', sans-serif;
}

main .header {
    padding: 2rem;
    grid-column: 1/4;
    background-color: #264653;
}

main .left {
    grid-column: 1/2;
    background-color: #2A9D8F;

}

main .mainbody {
    grid-column: 2/3;
    background-color: #E9C46A;

}


main .right {
    grid-column: 3/4;
    background-color: #E76F51;
}

.foot {
    grid-column: 1/4;
    background-color: #2a9d8f;
}


