/* resets all web settings to 'nothing' */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*  */

main {
    /* anything within the 'main' div will follow the grid rules outlined below */
    display: grid;

    grid-template: auto 1fr auto / auto 1fr auto;
    /* auto 1fr auto / auto 1fr auto; = rows / columns.  'fr' = fractional unit of space determined by the minimum size of content within the element*/
    font-family: 'Poppins', sans-serif;
}

main .header {
    padding: 2rem;
    /* "rem" is font size relative to the root font size. '2rem' would be twice the default*/
    grid-column: 1/4;
    /* size of the column.  In this case, taking the entire width */
    background-color: #264653;
}

main .jumbo { 
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('../img/noodles.jpg');
    /* creates a transparent linear gradient over the background image to make text more legible */
    grid-column: 1/4;
    height: 500px;
    background-size: cover;
    color: linen;
    max-width: 100%;
    /* makes sure this will fit on smaller screens */
}

main .left {
    grid-column: 1/2;
    /* in this layout, .left is taking up space from 1 --> 2, .main is occupying 2--> 3 and right is occupying 3 --> 4 */
    background-color: #2A9D8F;
    justify-items: left;
}

main .mainbody {
    grid-column: 2/3;
    background-color: #E9C46A;

}

.container {
    display: flex;
    /* this will align any item within the container side by side */
}

.container2 {
    align-items: center;
    justify-content: space-around;
    /* items in the container will have space before, between, and after */

    flex-wrap: wrap;
    /* any items within this container will stack on top of each other as the browser width narrows */
}

.container2 img {
    width: 320px;
    height: 320px;  
}



main .right {
    grid-column: 3/4;
    background-color: #E76F51;
}

.foot {
    grid-column: 1/4;
    background-color: #2a9d8f;
}


